<!-- *** Page édition Séjour *** -->

<!-- ****************************************************************** -->

<!--  header page  -->

<headerbar [iActive]="'1'" [sIcon]="'../icon/sejours.svg'"></headerbar>

<!-- ****************************************************************** -->

<menu-page [sTitre]="_appService.sTitre" [aLinks]="_appService.aMenuLinks" [iSelected]='_appService.iSelected' (scrollTo)="_appService.scrollTo($event)"></menu-page>

<!-- ****************************************************************** -->

<!--  Contenu page  -->

<div class="container-fluid" *ngIf="bDisplayPage">

    <div class="row">

        <div class="col-sm-9 content">
            
            <form class="infos" #form="ngForm">

                <div class="row section">
                    <p class="section-title" [id]="_appService.aMenuLinks[0].id">{{_appService.aMenuLinks[0].text}}</p>
                    <div class="line"></div>
            
                    <!--  Partie titre du séjour  -->
                    <div class="row">
                        <div class="col-sm-3 title">
                            <p>{{ 'sojourn.section1.nom' | translate }} *</p>
                        </div>

                        <div class="col-sm-9 input">
                            <input type="text" name="date" [(ngModel)]="oSejour.aTexte[_appService.sLangue].titre" required>
                        </div>
                    </div>

                    <!--  Partie description du séjour  -->
                    <div class="row">
                        <div class="col-sm-3 title">
                            <p>{{ 'sojourn.section1.description' | translate }} *</p>
                        </div>
                        <div class="col-sm-9 input">
                            <textarea name="presentation" rows="10" cols="180" spellcheck="true" maxlength="65535" [(ngModel)]="oSejour.aTexte[_appService.sLangue].texteLong" required></textarea>
                        </div>
                    </div>

                </div>

<!-- ****************************************************************** -->

                <div class="row section">
                    <p class="section-title" [id]="_appService.aMenuLinks[1].id">{{_appService.aMenuLinks[1].text}}</p>
                    <div class="line"></div>

                    <div class="row pictures">
                        <div class="img">
                            <div class="picture"
                            [ngStyle]="{'background-image':'url('+oSejour.oCover.url+')'}" >
                            <!-- nouvelle image -->
                                <label class="new-img">
                                    <img src="../icon/photo.svg"/>
                                    <p>{{ 'sojourn.section2.ajouter' | translate }}</p>
                                    <input type="file" name="cover" class="hidden" 
                                           ngFileSelect
                                           [options]="uploadOptions" 
                                           (onUpload)="handleUpload($event, 1)"
                                           (click)="initUpload(1)">
                                </label>
                            </div>
                            <p>{{ 'sojourn.section2.couverture' | translate }}</p>
                        </div>
                        <div class="img">
                            <div class="picture"
                            [ngStyle]="{'background-image':'url('+oSejour.oDecouvrir.url+')'}" >
                            <!-- nouvelle image -->
                                <label class="new-img">
                                    <img src="../icon/photo.svg"/>
                                    <p>{{ 'sojourn.section2.ajouter' | translate }}</p>
                                    <input type="file" name="decouvrir" class="hidden" 
                                           ngFileSelect
                                           [options]="uploadOptions" 
                                           (onUpload)="handleUpload($event, 2)"
                                           (click)="initUpload(2)">
                                </label>
                            </div>
                            <p>{{ 'sojourn.section2.decouvrir' | translate }}</p>
                        </div>
                        <div class="img">
                            <div class="picture"
                            [ngStyle]="{'background-image':'url('+oSejour.oManger.url+')'}" >
                            <!-- nouvelle image -->
                                <label class="new-img">
                                    <img src="../icon/photo.svg"/>
                                    <p>{{ 'sojourn.section2.ajouter' | translate }}</p>
                                    <input type="file" name="manger" class="hidden" 
                                           ngFileSelect
                                           [options]="uploadOptions" 
                                           (onUpload)="handleUpload($event, 3)"
                                           (click)="initUpload(3)">
                                </label>
                            </div>
                            <p>{{ 'sojourn.section2.manger' | translate }}</p>
                        </div>
                        <div class="img">
                            <div class="picture"
                            [ngStyle]="{'background-image':'url('+oSejour.oDormir.url+')'}" >
                            <!-- nouvelle image -->
                                <label class="new-img">
                                    <img src="../icon/photo.svg"/>
                                    <p>{{ 'sojourn.section2.ajouter' | translate }}</p>
                                    <input type="file" name="dormir" class="hidden" 
                                           ngFileSelect
                                           [options]="uploadOptions" 
                                           (onUpload)="handleUpload($event, 4)"
                                           (click)="initUpload(4)">
                                </label>
                            </div>
                            <p>{{ 'sojourn.section2.dormir' | translate }}</p>
                        </div>
                        <div class="img">
                            <div class="picture"
                            [ngStyle]="{'background-image':'url('+oSejour.oBouger.url+')'}" >
                            <!-- nouvelle image -->
                                <label class="new-img">
                                    <img src="../icon/photo.svg"/>
                                    <p>{{ 'sojourn.section2.ajouter' | translate }}</p>
                                    <input type="file" name="bouger" class="hidden" 
                                           ngFileSelect
                                           [options]="uploadOptions" 
                                           (onUpload)="handleUpload($event, 5)"
                                           (click)="initUpload(5)">
                                </label>
                            </div>
                            <p>{{ 'sojourn.section2.bouger' | translate }}</p>
                        </div>
                    </div>
                </div>

<!-- ****************************************************************** -->

                <!-- == Informations adresse séjour == -->
                <div class="row section">
                
                    <p class="section-title" [id]="_appService.aMenuLinks[2].id">{{_appService.aMenuLinks[2].text}}</p>
                    <div class="line"></div>

                    <!-- Adresse -->
                    <div class="col-sm-9">

                        <div class="row">
                            <div class="col-sm-4 title no-padding">
                                <p>{{ 'commun.formulaire.adresse1' | translate }}</p>
                            </div>
                            <div class="col-sm-8 input no-padding">
                                <input type="text" name="adresse1" placeholder="{{ 'commun.formulaire.adresse1' | translate }}" 
                                    [(ngModel)]="oSejour.oAdresse.rue1"
                                    required >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 title no-padding">
                                <p>{{ 'commun.formulaire.adresse2' | translate }}</p>
                            </div>
                            <div class="col-sm-8 input no-padding">
                                <input type="text" name="adresse2" placeholder="{{ 'commun.formulaire.adresse2' | translate }}" 
                                    [(ngModel)]="oSejour.oAdresse.rue2">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 title no-padding">
                                <p>{{ 'commun.formulaire.codeVille' | translate }}</p>
                            </div>
                            <div class="col-sm-3 input no-padding">
                                <input type="text" name="cp" placeholder="{{ 'commun.formulaire.codePostal' | translate }}" 
                                    [(ngModel)]="oSejour.oAdresse.codePostal"
                                    required >
                            </div>
                            <div class="col-sm-5 input no-padding">
                                <input type="text" name="ville" placeholder="{{ 'commun.formulaire.ville' | translate }}" 
                                    [(ngModel)]="oSejour.oAdresse.oVille.villeNomReel"
                                    (keyup)="liste.searchVille(oSejour.oAdresse.oVille.villeNomReel)"
                                    required >
                                <ville-liste
                                    #liste
                                    [oVille]="oSejour.oAdresse.oVille"
                                    (eSelectVille)="setAdresseVille(oSejour.oAdresse, $event)"></ville-liste>
                            </div>
                        </div>

                    </div>

                    <!-- Map google -->
                    <div class="col-sm-3 no-padding">
                        <div #mapGoogle class="map" [ngStyle]="{'height': iMapHeight+'px'}">
                            <sebm-google-map 
                                *ngIf="oSejour.oAdresse.ville != 0"
                                [latitude]="lat" 
                                [longitude]="lng"
                                [mapDraggable]="false"
                                [zoom]="12"
                                 >
                                <sebm-google-map-marker 
                                    [latitude]="lat" 
                                    [longitude]="lng">
                                </sebm-google-map-marker>
                            </sebm-google-map>
                            <img *ngIf="oSejour.oAdresse.ville == 0" src="http://www.webrankinfo.com/dossiers/wp-content/uploads/logo-google-maps-2015.png" class="img-responsive">
                        </div>
                    </div>

                </div>

<!-- ****************************************************************** -->

                <!-- == Informations options séjour == -->
                <div class="row section hidden">
                
                    <p class="section-title" [id]="_appService.aMenuLinks[3].id">{{_appService.aMenuLinks[3].text}}</p>
                    <div class="line"></div>
                
                    <div class="row">
                        <div class="col-sm-3 title">
                            <p>{{ 'sojourn.section4.hebergement.checkbox' | translate }}</p>
                        </div>

                        <div class="col-sm-9 check">
                            <input type="checkbox" name="heberg_autonome" id="heberg_autonome" [(ngModel)]="oSejour.hebergAutonome" >
                            <label for="heberg_autonome">{{ 'sojourn.section4.hebergement.description' | translate }}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 title">
                            <p>{{ 'sojourn.section4.repas.checkbox' | translate }}</p>
                        </div>

                        <div class="col-sm-9 check">
                            <input type="checkbox" name="repas_autonome" id="repas_autonome" [(ngModel)]="oSejour.repasAutonome">
                            <label for="repas_autonome">{{ 'sojourn.section4.repas.description' | translate }}</label>
                        </div>
                    </div>
                </div>

<!-- ****************************************************************** -->

                <!-- == Informations repas séjour == -->
                <div class="row section">
                
                    <p class="section-title" [id]="_appService.aMenuLinks[4].id">{{_appService.aMenuLinks[4].text}}</p>
                    <div class="line"></div>
                
                    <div class="row">
            
                    <!--  Partie repas du séjour  -->
                        <div class="col-sm-3 title">
                            <div class="repas-row-title">
                                <p>{{ 'sojourn.section5.ligne1' | translate }}</p>
                                <p>{{ 'sojourn.section5.ligne2' | translate }}</p>
                                <p>{{ 'sojourn.section5.ligne3' | translate }}</p>
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="row">

                                <!-- Provisions -->
                                <div class="col-sm-6">
                                    <p class="repas-title">{{ 'sojourn.section5.provisions' | translate }}</p>
                                    <div class="repas-content">
                                        <!-- Titres des colonnes -->
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="repas-col-title">{{ 'sojourn.section5.colonne1' | translate }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="repas-col-title">{{ 'sojourn.section5.colonne2' | translate }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="repas-col-title">{{ 'sojourn.section5.colonne3' | translate }}</p>
                                            </div>
                                        </div>

                                        <!-- Matin -->
                                        <div class="row">
                                            <div class="col-sm-4 check">
                                                <input type="checkbox" name="pfpd" id="pfpd" [(ngModel)]="oSejour.repasProvMatin">
                                                <label for="pfpd" class="alone"></label>
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_prov_matin_adulte" 
                                                    [(ngModel)]="oSejour.prixProvMatinAdulte"
                                                    [disabled]="!oSejour.repasProvMatin">
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_prov_matin_enfant" 
                                                    [(ngModel)]="oSejour.prixProvMatinEnfant"
                                                    [disabled]="!oSejour.repasProvMatin" >
                                            </div>
                                        </div>

                                        <!-- Midi -->
                                        <div class="row">
                                            <div class="col-sm-4 check">
                                                <input type="checkbox" name="pfdj" id="pfdj" [(ngModel)]="oSejour.repasProvMidi">
                                                <label for="pfdj"></label>
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_prov_midi_adulte" 
                                                    [(ngModel)]="oSejour.prixProvMidiAdulte"
                                                    [disabled]="!oSejour.repasProvMidi">
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_prov_midi_enfant" 
                                                    [(ngModel)]="oSejour.prixProvMidiEnfant"
                                                    [disabled]="!oSejour.repasProvMidi" >
                                            </div>
                                        </div>

                                        <!-- Soir -->
                                        <div class="row">
                                            <div class="col-sm-4 check">
                                                <input type="checkbox" name="pfdn" id="pfdn" [(ngModel)]="oSejour.repasProvSoir">
                                                <label for="pfdn"></label>
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_prov_soir_adulte" 
                                                    [(ngModel)]="oSejour.prixProvSoirAdulte"
                                                    [disabled]="!oSejour.repasProvSoir">
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_prov_soir_enfant" 
                                                    [(ngModel)]="oSejour.prixProvSoirEnfant"
                                                    [disabled]="!oSejour.repasProvSoir" >
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Repas cuisinés -->
                                <div class="col-sm-6">
                                    <p class="repas-title">{{ 'sojourn.section5.cuisine' | translate }}</p>
                                    <div class="repas-content">
                                        <!-- Titres des colonnes -->
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p class="repas-col-title">{{ 'sojourn.section5.colonne1' | translate }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="repas-col-title">{{ 'sojourn.section5.colonne2' | translate }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="repas-col-title">{{ 'sojourn.section5.colonne3' | translate }}</p>
                                            </div>
                                        </div>

                                        <!-- Matin -->
                                        <div class="row">
                                            <div class="col-sm-4 check">
                                                <input type="checkbox" name="rcpd" id="rcpd" [(ngModel)]="oSejour.repasCuisMatin">
                                                <label for="rcpd"></label>
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_repas_matin_adulte" 
                                                    [(ngModel)]="oSejour.prixRepasMatinAdulte"
                                                    [disabled]="!oSejour.repasCuisMatin" >
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_repas_matin_enfant" 
                                                    [(ngModel)]="oSejour.prixRepasMatinEnfant"
                                                    [disabled]="!oSejour.repasCuisMatin" >
                                            </div>
                                        </div>

                                        <!-- Midi -->
                                        <div class="row">
                                            <div class="col-sm-4 check">
                                                <input type="checkbox" name="rcdj" id="rcdj" [(ngModel)]="oSejour.repasCuisMidi">
                                                <label for="rcdj"></label>
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_repas_midi_adulte" 
                                                    [(ngModel)]="oSejour.prixRepasMidiAdulte"
                                                    [disabled]="!oSejour.repasCuisMidi" >
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_repas_midi_enfant" 
                                                    [(ngModel)]="oSejour.prixRepasMidiEnfant"
                                                    [disabled]="!oSejour.repasCuisMidi" >
                                            </div>
                                        </div>

                                        <!-- Soir -->
                                        <div class="row">
                                            <div class="col-sm-4 check">
                                                <input type="checkbox" name="rcdn" id="rcdn" [(ngModel)]="oSejour.repasCuisSoir">
                                                <label for="rcdn"></label>
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_repas_soir_adulte" 
                                                    [(ngModel)]="oSejour.prixRepasSoirAdulte"
                                                    [disabled]="!oSejour.repasCuisSoir" >
                                            </div>
                                            <div class="col-sm-4 input">
                                                <input type="number" name="prix_repas_soir_enfant" 
                                                    [(ngModel)]="oSejour.prixRepasSoirEnfant"
                                                    [disabled]="!oSejour.repasCuisSoir" >
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                
                    <!--  Partie presentation des repas du séjour  -->
                    <div class="row">
                        <div class="col-sm-3 title">
                            <p>{{ 'sojourn.section5.presentation' | translate }}</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea name="presentation-repas" rows="10" cols="180" spellcheck="true" maxlength="65535" [(ngModel)]="oSejour.aTexte[_appService.sLangue].repas" ></textarea>
                        </div>
                    </div>

                </div>

<!-- ****************************************************************** -->

                <!-- == Informations capacité séjour == -->
                <div class="row section">

                    <p class="section-title" [id]="_appService.aMenuLinks[5].id">{{_appService.aMenuLinks[5].text}}</p>
                    <div class="line"></div>
                

                    <div class="row">
                        <div class="col-sm-3 title">
                            <p>{{ 'sojourn.section6.capacite' | translate }}</p>
                        </div>
                        <div class="col-sm-9 input">
                            <div class="row">
                                <div class="col-sm-1">
                                    <p>{{ 'commun.from' | translate }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" name="capa-min" min="1" 
                                        [max]="oSejour.capaMaxi" 
                                        [(ngModel)]="oSejour.capaMini" 
                                        [ngModelOptions]="{standalone: true}" >
                                </div>
                                <div class="col-sm-1">
                                    <p>{{ 'commun.to' | translate }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" name="capa-max" 
                                        [min]="oSejour.capaMini" 
                                        [(ngModel)]="oSejour.capaMaxi" 
                                        [ngModelOptions]="{standalone: true}" >
                                </div>
                                <div class="col-sm-4">
                                    <p>{{ 'sojourn.section6.personnes' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 title">
                            <p>{{ 'sojourn.section6.duree' | translate }}</p>
                        </div>
                        <div class="col-sm-9 input">
                            <div class="row">
                                <div class="col-sm-1">
                                    <p>{{ 'commun.from' | translate }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" name="duree-min" min="1" 
                                        [max]="oSejour.dureeMaxi" 
                                        [(ngModel)]="oSejour.dureeMini" 
                                        [ngModelOptions]="{standalone: true}" >
                                </div>
                                <div class="col-sm-1">
                                    <p>{{ 'commun.to' | translate }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" name="duree-max" 
                                        [min]="oSejour.dureeMini" 
                                        [(ngModel)]="oSejour.dureeMaxi" 
                                        [ngModelOptions]="{standalone: true}" >
                                </div>
                                <div class="col-sm-4">
                                    <p>{{ 'sojourn.section6.nuites' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

<!-- ****************************************************************** -->

                <div class="save-button">
                    <div class="button" (click)="save(form.form.valid)">
                        <a>{{ 'sojourn.button' | translate }}</a>
                    </div>
                </div>

            </form>

        </div> 

    </div>
    
</div>

<!-- ****************************************************************** -->